html, body
{
    height:1212px;
    width:133%;
    overflow:hidden;
    margin:0px;
    padding:0px;
}
#form1
{
    background:url("/Images/Felt.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100% 100%;
    height: 1200px;
    width:1920px;
}
#Cribbage_BoardDiv
{
    position:absolute;
    top:180px;
    left:370px;
}
#DealButtonDiv
{
    position:absolute;
    top: 600px;
    left: 200px;
    width: 101px;
}
#PlayerCard1Div
{
    position:absolute;
    top: 580px;
    left: 414px;
    height: 96px;
    width: 72px;
}

#PlayerCard2Div
{
    position:absolute;
    top: 580px;
    left: 504px;
    height: 96px;
    width: 72px;
}
#PlayerCard3Div
{
    position:absolute;
    top: 580px;
    left: 594px;
    height: 96px;
    width: 72px;
}
#PlayerCard4Div
{
    position:absolute;
    top: 580px;
    left: 684px;
    height: 96px;
    width: 72px;
}
#PlayerCard5Div
{
    position:absolute;
    top: 580px;
    left: 774px;
    height: 96px;
    width: 72px;
}
#PlayerCard6Div
{
    position:absolute;
    top: 580px;
    left: 864px;
    height: 96px;
    width: 72px;
}
#PlayerCard7Div
{
    position:absolute;
    top: 50px;
    left: 414px;
    height: 96px;
    width: 72px;
}
#PlayerCard8Div
{
    position:absolute;
    top: 50px;
    left: 504px;
    height: 96px;
    width: 72px;
}
#PlayerCard9Div
{
    position:absolute;
    top: 50px;
    left: 594px;
    height: 96px;
    width: 72px;
}
#PlayerCard10Div
{
    position:absolute;
    top: 50px;
    left: 684px;
    height: 96px;
    width: 72px;
}
#PlayerCard11Div
{
    position:absolute;
    top: 50px;
    left: 774px;
    height: 96px;
    width: 72px;
}
#PlayerCard12Div
{
    position:absolute;
    top: 50px;
    left: 864px;
    height: 96px;
    width: 72px;
}
#PlayerCard13Div
{
    position:absolute;
    top: 400px;
    left: 1000px;
    height: 96px;
    width: 72px;
}
#CribDiv
{
    position:absolute;
    top: 200px;
    left: 1000px;
    height: 96px;
    width:150px;
    margin: 0px;
    padding: 0px;
}
.CardBacks
{
    margin: -3px;
    padding: 0px;
}
.ShadedCards
{
    filter:alpha(opacity=50);
    opacity:0.5
}